<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${serverName}"></title>

    <link rel="preload" href="/fonts/poppins-v23-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/svg/arrow.svg" as="image">
    <link rel="preload" href="/svg/download.svg" as="image">
    <link rel="preload" href="/svg/link.svg" as="image">
    <link rel="preload" href="/svg/search.svg" as="image">
    <link rel="preload" href="/svg/directory.svg" as="image">
    <link rel="preload" href="/svg/file-alt.svg" as="image">
    <link rel="preload" href="/svg/file-audio.svg" as="image">
    <link rel="preload" href="/svg/file-chart.svg" as="image">
    <link rel="preload" href="/svg/file-code.svg" as="image">
    <link rel="preload" href="/svg/file-exclamation.svg" as="image">
    <link rel="preload" href="/svg/file-lock.svg" as="image">
    <link rel="preload" href="/svg/file-pencil.svg" as="image">
    <link rel="preload" href="/svg/file-question.svg" as="image">
    <link rel="preload" href="/script.js" as="script">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="topbar">
    <div class="topbar-path">
        <a href="/ui" class="server-name" th:text="${serverName}"></a>3
    </div>
    <div class="topbar-right">
        <button onclick="handleTopbarDownload()" class="topbar-download">
            <img src="/svg/download.svg" alt="download" class="topbar-icon"/>
        </button>
        <button onclick="handleTopbarLink()">
            <img src="/svg/link.svg" alt="link" class="topbar-icon"/>
        </button>
        <div class="topbar-search">
            <button>
                <img src="/svg/search.svg" alt="search" class="search-icon"/>
            </button>
            <input type="text" placeholder="Search here">
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="file-list-wrapper">
        <div class="file-list-header">
            <div class="col name">Name</div>
            <div class="col modified">Last modified</div>
            <div class="col size">Size</div>
            <div class="col actions"></div>
        </div>

        <div class="file-list"></div>
    </div>

    <div class="file-content-wrapper">
        <div class="file-content-title"></div>
        <textarea class="file-content"></textarea>
    </div>
</div>

<script th:inline="javascript">
    const allowDownloadDirs = /*[[${allowDownloadDirs}]]*/ false;

    function handleTopbarLink() {
        navigator.clipboard.writeText(window.location);
    }

    function handleTopbarDownload() {
        let topbarDownload = document.querySelector('.topbar-download');
        if (!topbarDownload.classList.contains('unavailable')) {
            window.location = window.location.origin + '/direct/' + window.location.pathname.substring(4);
        }
    }
</script>
<script src="/script.js"></script>
</body>
</html>