<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>openjfs</title>

    <link rel="preload" href="/fonts/poppins-v23-latin-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/poppins-v23-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/svg/arrow.svg" as="image">
    <link rel="preload" href="/svg/download.svg" as="image">
    <link rel="preload" href="/svg/link.svg" as="image">
    <link rel="preload" href="/svg/search.svg" as="image">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="topnav">
    <div class="topnav-path">
        <a href="/ui">alllexey</a>
        <img src="/svg/arrow.svg" alt="arrow" class="topnav-arrow"/>
        <a href="/ui/myproj">openjfs</a>
    </div>
    <div class="topnav-right">
        <button>
            <img src="/svg/download.svg" alt="download" class="download-icon"/>
        </button>
        <button>
            <img src="/svg/link.svg" alt="link" class="link-icon"/>
        </button>
        <div class="topnav-search">
            <button>
                <img src="/svg/search.svg" alt="search" class="search-icon"/>
            </button>
            <input type="text" placeholder="Search here">
        </div>
    </div>
</div>
</body>
</html>