<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>openjfs</title>

    <link rel="preload" href="/fonts/poppins-v23-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/svg/arrow.svg" as="image">
    <link rel="preload" href="/svg/download.svg" as="image">
    <link rel="preload" href="/svg/link.svg" as="image">
    <link rel="preload" href="/svg/search.svg" as="image">
    <link rel="preload" href="/svg/directory.svg" as="image">
    <link rel="preload" href="/svg/file-alt.svg" as="image">
    <link rel="preload" href="/svg/file-audio.svg" as="image">
    <link rel="preload" href="/svg/file-chart.svg" as="image">
    <link rel="preload" href="/svg/file-code.svg" as="image">
    <link rel="preload" href="/svg/file-exclamation.svg" as="image">
    <link rel="preload" href="/svg/file-lock.svg" as="image">
    <link rel="preload" href="/svg/file-pencil.svg" as="image">
    <link rel="preload" href="/svg/file-question.svg" as="image">
    <link rel="preload" href="/script.js" as="script">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="topbar">
    <div class="topbar-path">
        <a href="/ui" class="server-name" th:text="${serverName}"></a>3
    </div>
    <div class="topbar-right">
        <button>
            <img src="/svg/download.svg" alt="download" class="download-icon"/>
        </button>
        <button>
            <img src="/svg/link.svg" alt="link" class="link-icon"/>
        </button>
        <div class="topbar-search">
            <button>
                <img src="/svg/search.svg" alt="search" class="search-icon"/>
            </button>
            <input type="text" placeholder="Search here">
        </div>
    </div>
</div>

<div class="content">
    <div class="file-list-header">
        <div class="col name">Name</div>
        <div class="col modified">Last modified</div>
        <div class="col size">Size</div>
        <div class="col actions"></div>
    </div>

    <div class="file-list">
    </div>
</div>

<script th:inline="javascript">
    const allowDownloadDirs = /*[[${allowDownloadDirs}]]*/ false
</script>
<script src="/script.js"></script>
</body>
</html>